
/* LIGHTBOX */
.fadedOut{
  display: none;
}

.lightBox{
  position: absolute;
  margin: 0 auto;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: #666 0px 2px 20px;
  -moz-box-shadow: #666 0px 2px 20px;
  box-shadow: #666 0px 2px 20px;
  background: white;
  behavior: url(css/PIE.php);
  z-index: 201;
}

#bgLIGHTBOX{
	width: 200%;/* ie */
	height: 5500px;
	background: #0d131e;
	z-index: 199;
	position: absolute;
	top: 0;
	left:0;
	padding-top: 199px;	
}

#LIGHTBOX{
	background: #000000;
	z-index: 200;
	position: fixed;	
}

#inLIGHTBOX{
	margin: 3px;
	background: white;
}

.close{
	color: #fff;
	font-size: 27px;
	height: 24px;
	width: 34px;
	margin-top: 0px;
	cursor: pointer;
	text-shadow: none;
}

.close:hover{
	color: #d1d1d1;
}

.closeM{
	background-image: url(../i/yinYang/closeM.png);
	background-repeat: no-repeat;
	background-position: right;
	height: 25px;
	width: 25px;
	margin-top: 7px;
	cursor: pointer;
}

.closeK{
	background-image: url(../i/buttons/closeK.png);
	background-repeat: no-repeat;
	height: 19px;
	width: 19px;
	margin-top: 7px;
	cursor: pointer;
	color: red;
}

.LB_just_a_message{
	color: #0280CA;
	font-size: 27px;
	font-weight: bold;
	text-align: center;
	
}

.open_LB.btn.blue{
  left: 50%;
  width: 80px;
  margin-left: 50px;
  background: silver;
	color: black;
	position: fixed;
	top: 10px;
	z-index: 9999;
}