<div id='main_nav' class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="login.php?logout">Logout</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        
        <li><a href='projects_emails.php'>Bestätigungs-Emails</a></li>
        <li><a href='backlinks_websites_for_entries_page.php?type=FORUM'>Backlinks</a></li>
        
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>