{{main_nav}}
    
  

<!-- MAIN CONTAINER -->
<div class="container page">
  <div id='test_ajax'></div>  

  <div class='row'>
    <div class='col-36-sm'>
      <div id='list_errors'>{{list_errors}}</div>
      {{main}}
    </div>
  </div>
  
 
  
</div>

{{below}}




