
<table style="font-size:12" width=100% style="color: black">
  <tr>
    <td><br><br><br><br><br><br>
      <span class="klein"><u><?php echo $this->B->ABSENDER; ?></u><br></span>
        {{ROW->anrede}}<br>
        {{ROW->vorname}} {{ROW->nachname}}<br>
        {{ROW->firma}}<br>
        {{ROW->str}} {{ROW->nr}}<br>
        {{ROW->plz}} {{ROW->ort}}
    </td>
    <td align="right" valign="top">
      
  
  
<br><br>
<?php echo $this->B->adr; ?><br><br>
<?php echo $this->B->bankEthik; ?><br><br>
  
  <b><?php echo $this->B->ustid; ?></b><br>
    </td>
  </tr>
</table>


<br><br><br><h2 style="color: black"><b>{{rg_titel}}</b></h2><br><br><br>

<div align="right">Saerbeck, den <?php echo $this->B->heuteD; ?></div>
</span>

  Kunden-Nr: SP-{{ROW->LAND}}-{{ROW->nachname}}-{{ROW->idAdr}}<br>
Rechnungs-Nr: A-{{JAHR}}-{{rgNrA}}
  

  <br><br>
  <table width="100%" cellspacing="0">
    <tr>
      <td class="tabLinieUnten">
        <b>Bezeichnung</b>
      </td>
      <td align="right" class="tabLinieUnten">
       
      </td>    
    </tr>
    <tr>
      <td class="tabLinieUnten">
        {{zusatz_text_oben}}
        <br>Eintrag im Anbieterverzeichnis von www.spirituelles-portal.de <br>für 1 Jahr ab dem {{ROW->rgGiltAb}}<br><br>
      </td>
      <td align="right"  class="tabLinieUnten" valign="top">
        <br>{{summe}}
      </td>
    </tr>
  </table>
  <div align="right">
    <br>{{m}}<br><br>
    <b><u>Gesamt:&nbsp;{{ROW->betragRgA}} Euro</u></b>
  </div><br><br><br><br>
  
  {{ch_mwst}}
  
  <b>BITTE BEACHTEN</span>: Wir haben ein neues Konto bei der VOLKSBANK, Daten s. oben!</b><br><br>

  
 <p> Es gelten unsere allgemeinen Geschäftsbedingungen in der jeweils gültigen Fassung, einsehbar auf www.spirituelles-portal.de.  </p>
  
    </div>
  </div>
  
