<div class='box'>
  {{bild}}
  <div class='name'>{{DATA->vorname}} {{DATA->nachname}} {{DATA->ort_1}}</div>
  <h3 class='titelInfo'>{{DATA->titelInfo}}</h3>
  <div id='toggle_this_{{toggle_group}}_{{DATA->id}}' class='infoKurz isplay_none'>
    {{DATA->infoKurz}}
    <div json='{"func": "one_anbieter", "h":600, "w":800, "idAdr":{{DATA->id}}}' class="s17 fadeInLB bglb cursor rund3 white p5 mt10 mr15 ml15" style="background: #800000;">Deinen Suchort festlegen</div>
  </div>
  <div class='toggle_one' toggle_this='{{toggle_group}}_{{DATA->id}}'>MEHR</div>
</div><br><br> 
