<div id='one_termin'>
  {{DATA->titel}}<br>
    
    
  {{vNamePublik}}
  
  <b>{{datum}}</b><br>
  {{beschreibung}}
  <br><b>Info: </b><br>{{DATA->frei}}<br><br>
  <b>Veranstaltungsraum:</b><br><br>
  <i>{{DATA->raum}}</i></b><br>
  {{DATA->str}} {{DATA->nr}}<br>
  {{DATA->land}}-{{DATA->plz}} {{DATA->ort}}
  <br><br>
  {{DATA->info}}
  
  <br><br>
  {{DATA->kName}}<br><br>
  
  {{DATA->infosJetztTV}}
</div>