<div id='search'>
  <input type='text' value='57612{{position_string}}' name='position_string' id='position_string' class='DO'>
  <input type='submit' value='OK' class='search_ok' json='{{json}}'>
  <div id="map" style='height: 100px'></div>
  
  <div id='location'></div>
  
  {{radius}}
  <br><br>
  <input type='text' value='yoga' id='keywords' name='keywords' class='DO'>
  
  <input type='submit' value='OK' class='search_ok' json='{{json}}'>
</div>
{{anbieter_liste}}
{{termine_liste}}