<div class='box'>
  <div class='titel'>Titel: {{DATA->titel}}</div>
  <div class='vNamePublik'>{{DATA->vNamePublik}}</div>
  <div class='datum'>{{datum}}</div>
  <div class='ort'>{{DATA->ort}}</div>
  <div id='info_termin_{{termineId}}' class='info_termin'></div>
  <div id='id_info_termin_button_{{termineId}}' json='{{json}}' class="clickit s17 cursor white p5 mt10 mr15 ml15" style="background: #800000;">Deinen Suchort festlegen</div>
</div>