<h1>Login</h1>

<form name="form" action="login" method="POST" enctype="application/x-www-form-urlencoded">
<input type='hidden' name='page' value='<?php echo @$_REQUEST['page']; ?>'>
<input type='hidden' name='id' value='<?php echo @$_REQUEST['id']; ?>'>

  {{select}}

<div class='formLabel'>User</div>
<input type='text' name='User' value='<?php echo @$_POST['User']; ?>'>

<div class='formLabel'>Password</div>
<input type='password' name='Password' value=''>

<div class='form_error'><?php echo @$message; ?></div>

<input type='submit' name='Login' value='Ok'>

</form>