<table class='cms_content_lists categories_attributes'>
  <tr>
    <td>
      <div class='attribute4'><span class='label'>H1:</span> {{ROW->attribute4->value}}</div>
      <div class='attribute5'><span class='label'>Text unter H1:</span> {{ROW->attribute5->value}}</div>
      
    </td>
  </tr>
</table>