body{
  font-family: Verdana;
}
.list_select .legend th{
  color: #fff;
  font-size: 110%;
  font-weight: bold;
  padding: 10px;
}
.list_select .legend th:hover{
  color: $grau_1;
}
.list_select{
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}

.list_select table.list{
  width: 100%;
}

.td_edit,
.td_delete,
.td_delete_many{
  width: 20px;
}

.td_move_row{
  width: 60px;
}

.td_delete .clickit{
  position: relative;
  top: px;
}
.td_move_row span.clickit{
  position: relative;
  top: -1px;
}


/* Upload */
.upload_files{
  border: 1px dotted $grau_2;

  border-radius: $radius;
  margin-bottom: 30px;
  padding: 15px;
}
.jFiler-input-dragDrop{
  border: none!important;
  margin: 0!important;
  padding: 0!important;
  text-align: left!important;
  width: auto!important;
}
.jFiler-input-icon,
.drag_files_text{
  display: none;
}

.jFiler-input-choose-btn.blue{
  background: $portalblau!important;
  border: none!important;
  color: #fff!important;
}


/* LIST */
table.list th{
  padding: 10px 15px;
  color: white;
  text-transform: uppercase;
}

table.list .glyphicon{
  color: $rot;
  cursor: pointer;
}

.glyphicon-remove-circle{
  position: relative;
  top: 2px;
}
