@import 'vars';
@import 'extend';
@import 'developer';

body{
  font-family: Verdana, Arial;
}

table{
  width: 100%;
}

th,td{
  padding: 10px;
}

.top td.print_title{
  font-size: 25px;
  font-weight: bold;
}

.top td{
  border: 2px solid;
  font-size: 18px;
}

.top .label{
  font-weight: bold;
}

.list th,
.list td{
  border: 1px solid;
}

tr.list > td{
  border: 2px solid;
}

