/* COLORS */
/* Sizes */
/* Fonts */
.border-radius, .developer {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.box_shadow {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5); }

.text_shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }

.developer {
  background: #fff;
  border: 1px solid silver;
  padding: 2px;
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 1031; }

body {
  font-family: Verdana, Arial; }

table {
  width: 100%; }

th, td {
  padding: 10px; }

.top td.print_title {
  font-size: 25px;
  font-weight: bold; }

.top td {
  border: 2px solid;
  font-size: 18px; }

.top .label {
  font-weight: bold; }

.list th,
.list td {
  border: 1px solid; }

tr.list > td {
  border: 2px solid; }

/*# sourceMappingURL=all_print.css.map */
