/* CMS */

.cke_btns{
	display: none;
	padding: 5px 0 0 0;
	text-align: right;
}

.cke_abbort{
	float: left;
}

.blogverwaltung .container.page{
	padding-bottom: 60px;
}

/* Blog Items Details */
table.cms_content_lists{
	background: #d8d8d8;
	border-radius: 0;
	margin-bottom: 30px;
	width: 100%;
}

#blog__items_list{
	margin-bottom: 30px;
}

#blog__texts_list table.cms_content_lists{
	background: #f3f3f3;
}


.cms_content_lists td.left{
	width: 70%;
}

.cms_content_lists td{
	padding: 15px;
	vertical-align: top;
}

.cms_content_lists td.right{
	padding: 43px 0 0 0;
}

.cms_content_lists .right div div,
.cms_content_lists.categories_attributes div div{
  display: inline-block;
}

.cms_content_lists .title{
	font-size: 20px;
}

.img_instead_deletable .glyphicon-remove{
	background: #fff;
	border-radius: 0 0 0 $br;
	color: $portalblau;
	font-size: 160%;
	height: auto;
	line-height: 160%;
	padding: 0 4px;
	position: absolute;
	top: 0;
	right: 0;
	width: auto;
}

.cms_content_lists .img_instead_deletable .glyphicon-remove:hover{
	background: silver;
}

.cms_content_lists img{
	max-height: 160px;
	max-width: 160px;
}

.cms_content_lists .right > div,
.cms_content_lists.categories_attributes td > div{
	margin-bottom: 10px;
}

.cms_content_lists .label{
	background: #fff;
	border-radius: 90px;
	color: black;
	display: inline-block;
	padding: 5px;
	text-align: center;
	width: 90px;
}

.cms_content_lists input{
	width: auto;
}

.scrollbox.cms_folder{
	height: 180px;
}

.img_list img{
	margin-bottom: 15px;
}

.img_list .img_path input{
	font-size: 12px;
	width: 100%;
}


.cms_texte table{
	width: 100%;
}


.cms_texte td.text{
	width: 70%;
}


#blog__texts_list table.cms_content_lists .right{
	padding-top: 10px;
}


/* Fixed Menues with Accordion */
#cms_menu,
#cms_menu_right{
	position: fixed;
	top: 75px;
	width: 30%;
}

.cms_menu.ui-accordion h3.ui-accordion-header{
	background: $portalblau;
	border-radius: $br;
	color: #fff;
	padding: 3px 5px;
	width: 90px;
}

.cms_menu .ui-accordion-header-icon{
	display: none;
}

#cms_menu_right h3{
	float: right;
}

#cms_menu_right h3.ui-state-active{
	float: none;
	width: 100%;
}

.cms_menu.ui-accordion h3.ui-accordion-header.ui-state-active{	
	border-radius: $br $br 0 0;
}

#cms_menu_right{
	right: 0
}

.cms_menu.ui-accordion .ui-accordion-content,
.cms_menu.ui-accordion h3.ui-accordion-header.ui-state-active{
	width: 100%;
}

.ui-accordion h3.ui-accordion-header{
	padding: 0;
}

.ui-accordion h3.ui-accordion-header{
	font-size: $fs_h3;
}

.ui-accordion h3.ui-accordion-header.ui-state-active,
.ui-accordion-content.ui-accordion-content-active{
	border: 3px solid $bg_3;
}
.ui-accordion h3.ui-accordion-header.ui-state-active{
	border-bottom: none;
}
.ui-accordion-content.ui-accordion-content-active{
	border-top: none;
}

/* Images List */
.img_list ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.img_list li{
	float: left;
	width: 170px;
	margin: 0 15px 15px 0;
}

.img_list.form_1 .edit_me_con .val_to_edit{
	max-width: 30px;
}


