@charset "UTF-8";
/* COLORS */
/* Sizes */
/* Fonts */
.border-radius, .edit_symbol_container, .date_ok_con .clickit_ok, .nothing_found, .developer {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.box_shadow {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5); }

.text_shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }

body {
  background: #bdbeba url(assets/bg/noiseNe.png);
  color: #282828;
  font-family: 'ABeeZee', sans-serif;
  font-size: 12px;
  line-height: 1.4;
  padding-top: 50px; }

@media (min-width: 1600px) {
  .container {
    width: 1600px; } }
.breadcrumbs {
  padding: 15px 30px; }

@media (max-width: 768px) {
  .breadcrumbs {
    text-align: right; } }
/* FONTS */
h1, h2, h3 {
  clear: both;
  margin-top: 0;
  text-decoration: underline; }

h1 {
  color: #989898;
  font: bold 25px 1.2 Arial; }

h2 {
  color: #989898;
  font: bold 20px/1.2 Arial;
  margin-top: 0;
  padding-top: 15px; }

h2.margin_1 {
  margin: 0 0 5px 0; }

.glyphicon.glyphicon-remove,
.glyphicon.glyphicon-chevron-left,
.glyphicon.glyphicon-chevron-right {
  color: #989898; }

/* CLASSES */
table {
  font-size: 12px; }

.page {
  background: #fff;
  border-radius: 5px;
  margin-top: 90px; }

.container.page .row {
  padding: 15px; }

#LIGHTBOX {
  display: none; }

a {
  color: #F8A900;
  font-weight: bold; }

.clickit {
  cursor: pointer; }

/* CLASSIS */
/* BUTTONS & LABEL*/
.btn.in_list.alert {
  padding: 2px; }

/* FORM */

form.formit input {
  border: 1px solid silver;
  border-radius: 3px; }

/* SPECIAL */
.container_versand_name_id,
.container_s_premium_dispatch_id {
  display: none; }

.save_in_shopware {
  background: black; }

.error,
.message,
.success,
.form_message {
  background: #970000;
  border-radius: 3px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 15px;
  padding: 15px; }

.message,
.success,
.form_message {
  background: #F8A900; }

.form_message {
  font-size: 12px;
  font-weight: normal;
  padding: 10px;
  width: 250px; }

.form_message p {
  margin: 0; }

.message p {
  text-transform: uppercase; }

.message ul {
  border-bottom: 1px dotted white;
  padding-bottom: 15px; }

/* Upload */
.jFiler-items-list {
  display: none; }

/* LIGHTBOX */
.fadedOut {
  display: none; }

.lightBox {
  position: absolute;
  margin: 0 auto;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: #666 0px 2px 20px;
  -moz-box-shadow: #666 0px 2px 20px;
  box-shadow: #666 0px 2px 20px;
  background: white;
  behavior: url(css/PIE.php);
  z-index: 9005; }

#bgLIGHTBOX {
  width: 200%;
  /* ie */
  height: 5500px;
  background: #0d131e;
  z-index: 199;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 199px; }

#LIGHTBOX {
  background: #000000;
  z-index: 9003;
  position: fixed; }

#inLIGHTBOX {
  margin: 3px;
  background: white; }

.close {
  color: #fff;
  font-size: 27px;
  height: 24px;
  width: 34px;
  margin-top: 0px;
  cursor: pointer;
  text-shadow: none; }

.close:hover {
  color: #d1d1d1; }

.closeM {
  background-image: url(../i/yinYang/closeM.png);
  background-repeat: no-repeat;
  background-position: right;
  height: 25px;
  width: 25px;
  margin-top: 7px;
  cursor: pointer; }

.closeK {
  background-image: url(../i/buttons/closeK.png);
  background-repeat: no-repeat;
  height: 19px;
  width: 19px;
  margin-top: 7px;
  cursor: pointer;
  color: red; }

.LB_just_a_message {
  color: #0280CA;
  font-size: 27px;
  font-weight: bold;
  text-align: center; }

/* IMG LIST */
.top {
  border: 1px solid #F8A900;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  padding: 2px;
  margin: 15px 0; }

.box {
  background: #e4e4e4;
  border-radius: 4px;
  margin: 0 1% 1% 0;
  padding: 7px;
  position: relative; }

.formit .submit input {
  padding: 5px 15px;
  width: auto !important; }

.form_1 .row {
  padding: 1px 0 !important; }

.img_list img {
  max-height: 150px;
  width: auto; }

.img_list .src_text {
  display: block;
  height: 35px;
  margin-bottom: 15px;
  overflow: hidden; }

.img_list .div_delete_in_img {
  background: #fff;
  border-radius: 0 0 5px 0;
  color: red;
  margin: 1px;
  padding: 5px 5px 0 5px;
  position: absolute;
  top: 0px; }

.img_list .delete {
  bottom: 7px;
  position: absolute;
  right: 7px; }

.form_1 {
  color: #F8A900; }

.no_padding .col-sm-10 {
  padding-right: 0; }

.no_padding .col-s-26 {
  padding-right: 0; }

.form_1 .form_label {
  padding-right: 0 !important; }

.form_1 .form_label span {
  background: #c8c5c6;
  border-radius: 4px;
  color: #F8A900;
  display: block;
  height: 20px;
  line-height: 1.4;
  padding: 2px 0 0 5px;
  text-align: left;
  width: 100%; }

.form_1 .val_to_edit,
.form_1 .input_con {
  background: #c8c5c6;
  border-radius: 4px;
  height: 20px;
  padding: 0 5px;
  overflow: hidden;
  width: 100%; }

.form_1 .this_is_edited .val_to_edit {
  height: auto; }

.form_1 .this_is_edited .val_to_edit textarea {
  width: 99%; }

.form_1 .edit_me_con,
.form_1 .edit_me_con .edit_me,
.form_1 .edit_me_con .val_to_edit {
  max-width: 100%; }

.form_1 .glyphicon {
  background: #F8A900;
  border-radius: 4px;
  color: #c8c5c6;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  margin-left: 3px;
  text-align: center;
  width: 20px; }

.edit_symbol_container {
  border: 1px solid #989898;
  padding: 2px 4px; }

.edit_symbol_container:hover {
  border-color: #fff; }

table.list .edit_symbol_container:hover .glyphicon.edit_symbol {
  color: #fff; }

.date_ok_con input {
  color: black !important;
  width: 100%; }

.date_ok_con .clickit_ok {
  background: #F8A900;
  color: #fff;
  padding: 2px 2px; }

/* Form 2 (FORMIT Formular) */
form.formit .container_field {
  margin-bottom: 10px; }

form .label{
  display: block!important;
}

form.formit input[type=submit] {
  width: 150px; }

form.formit input {
  padding: 5px;
  width: 84%; }

form.formit .cke {
  margin-bottom: 40px; }

form.formit .checkbox label {
  font-weight: bold;
  padding-left: 0; }

form.formit input[type=checkbox] {
  width: auto; }

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  position: static;
  margin-left: 0; }

form.formit input {
  border: 1px solid silver;
  border-radius: 3px; }

/* Date */
.edit_me_con table,
.date_table,
.date_table table,
.date_table td,
.date_table .val_to_edit {
  width: 100%; }

.clickit_ok {
  cursor: pointer; }

table.list tr:hover input {
  color: black !important; }

.date_table .val_to_edit {
  display: table-cell; }

.form_1 input[type=text] {
  border: none;
  background: none;
  border-radius: 4px;
  width: 100%; }

/* Dynamics */
.val_to_edit:hover {
  color: #fff; }

.val_to_edit:hover input {
  color: #fff; }

.edit_symbol_td {
  width: 10px; }

.form_1 .glyphicon:hover {
  background: #c8c5c6;
  color: #F8A900;
  cursor: pointer; }

/* Teaser img */
.form_1 .files_id {
  background: #fff;
  border-radius: 5px;
  float: right;
  height: 170px;
  padding: 5px;
  width: 220px;
  margin-bottom: 15px;
  position: relative; }

/* two_table_table */
.two_tables_table {
  color: #F8A900; }

.two_tables_table td {
  border-bottom: 1px dotted #F8A900; }

/*
 * TOPFORM
 */
.topform .submit {
  text-align: right; }

@media (min-width: 768px) {
  .topform .container_field {
    float: left;
    width: 49%; }

  .topform .container_field:nth-child(odd) {
    margin-right: 2%; }

  .topform form.formit input {
    width: 100%; } }
/*zinstraum */
/* date in list */
tble.list .date_table td {
  padding: 0; }

/* neutralizes bootstrap */
.close, .close:hover {
  opacity: 1; }

.label {
  font-size: 100%; }

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  background: none;
  color: none; }

/* JQUERY UI */
.ui-accordion .ui-accordion-content {
  padding: 5px; }

.block {
  display: block !important; }

img {
  max-width: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */ }

.scroll {
  overflow: scroll;
  overflow-x: hidden; }

.scrollbox_1 {
  height: 350px; }

.name_active_item {
  color: #989898;
  font: bold 20px/1.2 Arial;
  margin-bottom: 15px; }

.name_active_item .label {
  color: #F8A900; }

/* CMS */
.cke_btns {
  display: none;
  padding: 5px 0 0 0;
  text-align: right; }

.cke_abbort {
  float: left; }

.blogverwaltung .container.page {
  padding-bottom: 60px; }

/* Blog Items Details */
table.cms_content_lists {
  background: #d8d8d8;
  border-radius: 0;
  margin-bottom: 30px;
  width: 100%; }

#blog__items_list {
  margin-bottom: 30px; }

#blog__texts_list table.cms_content_lists {
  background: #f3f3f3; }

.cms_content_lists td.left {
  width: 70%; }

.cms_content_lists td {
  padding: 15px;
  vertical-align: top; }

.cms_content_lists td.right {
  padding: 43px 0 0 0; }

.cms_content_lists .right div div,
.cms_content_lists.categories_attributes div div {
  display: inline-block; }

.cms_content_lists .title {
  font-size: 20px; }

.img_instead_deletable .glyphicon-remove {
  background: #fff;
  border-radius: 0 0 0 4px;
  color: #F8A900;
  font-size: 160%;
  height: auto;
  line-height: 160%;
  padding: 0 4px;
  position: absolute;
  top: 0;
  right: 0;
  width: auto; }

.cms_content_lists .img_instead_deletable .glyphicon-remove:hover {
  background: silver; }

.cms_content_lists img {
  max-height: 160px;
  max-width: 160px; }

.cms_content_lists .right > div,
.cms_content_lists.categories_attributes td > div {
  margin-bottom: 10px; }

.cms_content_lists .label {
  background: #fff;
  border-radius: 90px;
  color: black;
  display: inline-block;
  padding: 5px;
  text-align: center;
  width: 90px; }

.cms_content_lists input {
  width: auto; }

.scrollbox.cms_folder {
  height: 180px; }

.img_list img {
  margin-bottom: 15px; }

.img_list .img_path input {
  font-size: 12px;
  width: 100%; }

.cms_texte table {
  width: 100%; }

.cms_texte td.text {
  width: 70%; }

#blog__texts_list table.cms_content_lists .right {
  padding-top: 10px; }

/* Fixed Menues with Accordion */
#cms_menu,
#cms_menu_right {
  position: fixed;
  top: 75px;
  width: 30%; }

.cms_menu.ui-accordion h3.ui-accordion-header {
  background: #F8A900;
  border-radius: 4px;
  color: #fff;
  padding: 3px 5px;
  width: 90px; }

.cms_menu .ui-accordion-header-icon {
  display: none; }

#cms_menu_right h3 {
  float: right; }

#cms_menu_right h3.ui-state-active {
  float: none;
  width: 100%; }

.cms_menu.ui-accordion h3.ui-accordion-header.ui-state-active {
  border-radius: 4px 4px 0 0; }

#cms_menu_right {
  right: 0; }

.cms_menu.ui-accordion .ui-accordion-content,
.cms_menu.ui-accordion h3.ui-accordion-header.ui-state-active {
  width: 100%; }

.ui-accordion h3.ui-accordion-header {
  padding: 0; }

.ui-accordion h3.ui-accordion-header {
  font-size: 120%; }

.ui-accordion h3.ui-accordion-header.ui-state-active,
.ui-accordion-content.ui-accordion-content-active {
  border: 3px solid #8a888c; }

.ui-accordion h3.ui-accordion-header.ui-state-active {
  border-bottom: none; }

.ui-accordion-content.ui-accordion-content-active {
  border-top: none; }

/* Images List */
.img_list ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.img_list li {
  float: left;
  width: 170px;
  margin: 0 15px 15px 0; }

.img_list.form_1 .edit_me_con .val_to_edit {
  max-width: 30px; }

@media (max-width: 768px) {
  .only_desk {
    display: none !important; } }
@media (min-width: 768px) {
  .only_mobile {
    display: none !important; } }
.invisible,
.display_none {
  display: none; }

.cursor {
  cursor: pointer; }

.tal_r {
  text-align: right; }

.tal_l {
  text-align: left; }

.tal_c {
  text-align: center; }

.fl_l {
  float: left; }

.fl_r {
  float: right; }

.cl_both {
  clear: both; }

.bold {
  font-weight: bold; }

.no_padding {
  padding: 0 !important; }

.m0 {
  margin: 0; }

.m1 {
  margin: 1px; }

.m2 {
  margin: 2px; }

.m3 {
  margin: 3px; }

.m4 {
  margin: 4px; }

.m5 {
  margin: 5px; }

.m6 {
  margin: 6px; }

.m7 {
  margin: 7px; }

.m8 {
  margin: 8px; }

.m9 {
  margin: 9px; }

.m10 {
  margin: 10px; }

.m11 {
  margin: 11px; }

.m12 {
  margin: 12px; }

.m13 {
  margin: 13px; }

.m14 {
  margin: 14px; }

.m15 {
  margin: 15px; }

.m20 {
  margin: 20px; }

.m25 {
  margin: 25px; }

.m30 {
  margin: 30px; }

.m0 {
  margin: 0; }

.mt1 {
  margin-top: 1px; }

.mt2 {
  margin-top: 2px; }

.mt3 {
  margin-top: 3px; }

.mt4 {
  margin-top: 4px; }

.mt5 {
  margin-top: 5px; }

.mt6 {
  margin-top: 6px; }

.mt7 {
  margin-top: 7px; }

.mt8 {
  margin-top: 8px; }

.mt9 {
  margin-top: 9px; }

.mt10 {
  margin-top: 10px; }

.mt11 {
  margin-top: 11px; }

.mt12 {
  margin-top: 12px; }

.mt13 {
  margin-top: 13px; }

.mt14 {
  margin-top: 14px; }

.mt15 {
  margin-top: 15px; }

.mt20 {
  margin-top: 20px; }

.mt25 {
  margin-top: 25px; }

.mt30 {
  margin-top: 30px; }

.mb5 {
  margin-bottom: 5px; }

.mb6 {
  margin-bottom: 6px; }

.mb7 {
  margin-bottom: 7px; }

.mb8 {
  margin-bottom: 8px; }

.mb9 {
  margin-bottom: 9px; }

.mb10 {
  margin-bottom: 10px; }

.mb11 {
  margin-bottom: 11px; }

.mb12 {
  margin-bottom: 12px; }

.mb13 {
  margin-bottom: 13px; }

.mb14 {
  margin-bottom: 14px; }

.mb15 {
  margin-bottom: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb25 {
  margin-bottom: 25px; }

.mb30 {
  margin-bottom: 30px; }

.ml5 {
  margin-left: 5px; }

.ml6 {
  margin-left: 6px; }

.ml7 {
  margin-left: 7px; }

.ml8 {
  margin-left: 8px; }

.ml9 {
  margin-left: 9px; }

.ml10 {
  margin-left: 10px; }

.ml11 {
  margin-left: 11px; }

.ml12 {
  margin-left: 12px; }

.ml13 {
  margin-left: 13px; }

.ml14 {
  margin-left: 14px; }

.ml15 {
  margin-left: 15px; }

.ml20 {
  margin-left: 20px; }

.ml25 {
  margin-left: 25px; }

.ml30 {
  margin-left: 30px; }

.mr5 {
  margin-right: 5px; }

.mr6 {
  margin-right: 6px; }

.mr7 {
  margin-right: 7px; }

.mr8 {
  margin-right: 8px; }

.mr9 {
  margin-right: 9px; }

.mr10 {
  margin-right: 10px; }

.mr11 {
  margin-right: 11px; }

.mr12 {
  margin-right: 12px; }

.mr13 {
  margin-right: 13px; }

.mr14 {
  margin-right: 14px; }

.mr15 {
  margin-right: 15px; }

.mr20 {
  margin-right: 20px; }

.mr50 {
  margin-right: 25px; }

.mr30 {
  margin-right: 30px; }

.p0 {
  padding: 0 !important; }

.p1 {
  padding: 1px; }

.p2 {
  padding: 2px; }

.p3 {
  padding: 3px; }

.p4 {
  padding: 4px; }

.p5 {
  padding: 5px; }

.p6 {
  padding: 6px; }

.p7 {
  padding: 7px; }

.p8 {
  padding: 8px; }

.p9 {
  padding: 9px; }

.p10 {
  padding: 10px; }

.p11 {
  padding: 11px; }

.p12 {
  padding: 12px; }

.p13 {
  padding: 13px; }

.p14 {
  padding: 14px; }

.p15 {
  padding: 15px; }

.p20 {
  padding: 20px; }

.p25 {
  padding: 25px; }

.p30 {
  padding: 30px; }

.p0 {
  padding: 0; }

.pt1 {
  padding-top: 1px; }

.pt2 {
  padding-top: 2px; }

.pt3 {
  padding-top: 3px; }

.pt4 {
  padding-top: 4px; }

.pt5 {
  padding-top: 5px; }

.pt6 {
  padding-top: 6px; }

.pt7 {
  padding-top: 7px; }

.pt8 {
  padding-top: 8px; }

.pt9 {
  padding-top: 9px; }

.pt10 {
  padding-top: 10px; }

.pt11 {
  padding-top: 11px; }

.pt12 {
  padding-top: 12px; }

.pt13 {
  padding-top: 13px; }

.pt14 {
  padding-top: 14px; }

.pt15 {
  padding-top: 15px; }

.pt20 {
  padding-top: 20px; }

.pt25 {
  padding-top: 25px; }

.pt30 {
  padding-top: 30px; }

.pb5 {
  padding-bottom: 5px; }

.pb6 {
  padding-bottom: 6px; }

.pb7 {
  padding-bottom: 7px; }

.pb8 {
  padding-bottom: 8px; }

.pb9 {
  padding-bottom: 9px; }

.pb10 {
  padding-bottom: 10px; }

.pb11 {
  padding-bottom: 11px; }

.pb12 {
  padding-bottom: 12px; }

.pb13 {
  padding-bottom: 13px; }

.pb14 {
  padding-bottom: 14px; }

.pb15 {
  padding-bottom: 15px; }

.pb20 {
  padding-bottom: 20px; }

.pb25 {
  padding-bottom: 25px; }

.pb30 {
  padding-bottom: 30px; }

.pl5 {
  padding-left: 5px; }

.pl6 {
  padding-left: 6px; }

.pl7 {
  padding-left: 7px; }

.pl8 {
  padding-left: 8px; }

.pl9 {
  padding-left: 9px; }

.pl10 {
  padding-left: 10px; }

.pl11 {
  padding-left: 11px; }

.pl12 {
  padding-left: 12px; }

.pl13 {
  padding-left: 13px; }

.pl14 {
  padding-left: 14px; }

.pl15 {
  padding-left: 15px; }

.pl20 {
  padding-left: 20px; }

.pl25 {
  padding-left: 25px; }

.pl30 {
  padding-left: 30px; }

.pr5 {
  padding-right: 5px; }

.pr6 {
  padding-right: 6px; }

.pr7 {
  padding-right: 7px; }

.pr8 {
  padding-right: 8px; }

.pr9 {
  padding-right: 9px; }

.pr10 {
  padding-right: 10px; }

.pr11 {
  padding-right: 11px; }

.pr12 {
  padding-right: 12px; }

.pr13 {
  padding-right: 13px; }

.pr14 {
  padding-right: 14px; }

.pr15 {
  padding-right: 15px; }

.pr20 {
  padding-right: 20px; }

.pr50 {
  padding-right: 25px; }

.pr30 {
  padding-right: 30px; }

.h_250 {
  height: 250px; }

.h_400 {
  height: 400px; }

.scroll_box {
  overflow: scroll;
  overflow-x: hidden; }

body {
  font-family: Verdana; }

.list_select .legend th {
  color: #fff;
  font-size: 110%;
  font-weight: bold;
  padding: 10px; }

.list_select .legend th:hover {
  color: #e2e2e2; }

.list_select {
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%; }

.list_select table.list {
  width: 100%; }

.td_edit,
.td_delete,
.td_delete_many {
  width: 20px; }

.td_move_row {
  width: 60px; }

.td_delete .clickit {
  position: relative;
  top: px; }

.td_move_row span.clickit {
  position: relative;
  top: -1px; }

/* Upload */
.upload_files {
  border: 1px dotted #7b7b7b;
  border-radius: 3px;
  margin-bottom: 30px;
  padding: 15px; }

.jFiler-input-dragDrop {
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
  text-align: left !important;
  width: auto !important; }

.jFiler-input-icon,
.drag_files_text {
  display: none; }

.jFiler-input-choose-btn.blue {
  background: #F8A900 !important;
  border: none !important;
  color: #fff !important; }

/* LIST */
table.list th {
  padding: 10px 15px;
  color: white;
  text-transform: uppercase; }

table.list .glyphicon {
  color: #989898;
  cursor: pointer; }

.glyphicon-remove-circle {
  position: relative;
  top: 2px; }

/* LIST */
.list {
  margin: 15px 0;
  width: 100%; }

.nothing_found {
  border: 1px solid silver;
  padding: 5px;
  margin: 15px 0; }

.list_select {
  border: 1px solid silver;
  padding: 5px;
  margin-top: 5px; }

.container_pagination_top {
  text-align: center; }

ul.pagination {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 10px 0; }

.pagination li {
  float: left; }

.pagination .arrow {
  color: #989898;
  font-size: 110%; }

.pagination .fa-angle-left {
  margin-right: 5px; }

.pagination .fa-angle-right {
  margin-left: 5px; }

.pagination .number {
  margin-right: 4px; }

.pagination .number.last {
  margin-right: 0; }

.pagination .active {
  font-weight: bold;
  text-decoration: underline; }

.pagination li:hover {
  color: #fff;
  background: #8a888c; }

.pagination > li > span {
  background: none;
  border: none;
  color: black;
  float: none;
  padding: 0; }

.pagination > li > span.inner_l {
  position: relative;
  left: -5px; }

.pagination > li > span.inner_r {
  position: relative;
  right: -4px; }

.active_item {
  background: #5d5d5d !important;
  color: white; }

table.list th {
  background: #F8A900; }

table.list tr.even {
  background: #e4e4e4; }

table.list tr.odd {
  background: #c8c5c6; }

table.list tr:hover {
  background: #8a888c !important;
  color: #fff; }

table.list th,
table.list td {
  padding: 2px 7px; }

.do_list.cursor_nav .list input {
  width: 30px; }

.box_1 .inside {
  border: 1px solid silver;
  padding: 5px; }

/* BUTTONS */
.btn_box {
  text-align: right; }

.btn_container {
  display: inline-block; }

.btn {
  background: #F8A900;
  color: #fff;
  float: right;
  margin-left: 15px;
  padding: 5px 7px; }

.btn:hover {
  background: #8a888c;
  color: #fff; }

/* UI TABS */
.ui-widget-content .ui-state-active {
  background: #F8A900;
  border-color: #F8A900; }

/* NAVIGATION */
.navbar-inverse {
  background: #F8A900; }

.navbar-brand {
  color: white;
  display: inline-block; }

.navbar {
  margin: 0; }

.navbar {
  border: none;
  margin: 0; }

.navbar-brand {
  float: none; }

.navbar-default .navbar-brand {
  color: #fff; }

@media (max-width: 768px) {
  .navbar-brand {
    left: 160px;
    position: absolute; } }
/* hintergrundfarbe container button */
.navbar-default {
  background: none; }

/* toggle button */
.navbar-toggle {
  background: none;
  border: none; }

/* striche in toggle button */
.navbar-default .navbar-toggle .icon-bar {
  background: none;
  border-bottom: 3px solid #fff; }

.navbar-collapse {
  max-height: 2000px; }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:focus {
  background: none; }

.navbar-collapse, .navbar-default {
  /* test menu
  display: block;*/
  background: #F8A900;
  border: none; }

.navbar-inverse .navbar-nav > li > a {
  color: white; }

.navbar-default .navbar-nav > li > a {
  border-bottom: 1px solid #007a3c;
  border-top: 1px solid #00ba4b;
  color: black;
  display: block;
  font-size: 18px;
  font-weight: normal;
  padding: 10px 10px; }

.navbar-default .navbar-nav > li.first > a {
  border-top: none; }

.navbar-default .navbar-nav > li.last > a {
  border-bottom: none; }

.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:hover {
  background: #007937;
  color: #fff;
  border: none; }

/* ebene 1 von offener menüpunkt */
.navbar-default .navbar-nav > .open > a {
  background: none;
  border-bottom: none;
  color: black; }

.navbar-default .navbar-nav > .open > .dropdown-menu {
  /* border-bottom: none;  1 liner*/
  border-radius: 0;
  padding-bottom: 15px; }

.dropdown-menu {
  /* border-bottom: 1px solid; 2 liner */
  margin: 0;
  padding: 0; }

.navbar-default .navbar-nav .open .dropdown-menu > li > a,
.dropdown-menu {
  color: #fff;
  font-size: 17px;
  padding-top: 2px;
  padding-bottom: 2px; }

.navbar-nav .trail .dropdown-menu a.last {
  border-bottom: none;
  /* 1 liner */ }

.navbar-default .navbar-nav .open .dropdown-menu > .active > a {
  background: none;
  font-weight: 700;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .navbar-default .col-xs-30 {
    padding-top: 8px; }

  .navbar-brand {
    position: relative;
    top: 0; }

  .navbar-default .navbar-brand:hover {
    color: #fff;
    text-decoration: underline; }

  /* MENÜ */
  .navbar-default .navbar-nav > li {
    padding-left: 28px; }

  .navbar-default .navbar-nav > li > a {
    color: #fff;
    border: none;
    display: block;
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    margin: 8px 0;
    padding: 0;
    padding-bottom: 5px;
    white-space: nowrap; }

  .navbar-default .navbar-nav > li.first > a {
    padding-left: 0; }

  .navbar-default .navbar-nav > li.last > a {
    border: none; }

  .navbar-default .navbar-nav > .open > a {
    color: #fff; }

  .navbar-default .navbar-nav > li.active > a,
  .navbar-default .navbar-nav > li.active > a:hover,
  .navbar-default .navbar-nav > .open > a:hover {
    background: none;
    border-bottom: 5px solid #fff;
    color: #fff; }

  .navbar-default .navbar-nav > .open > a:hover {
    border: none; }

  .navbar-default .navbar-nav > li > a:hover {
    background: none;
    color: white; }

  /* level 2 */
  .dropdown-menu {
    /* test menu level 2
display: block; */
    background: #F8A900;
    border-radius: 0 0 5px 5px;
    border-top: none;
    padding: 10px 0 15px 0;
    margin: 0; }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    border-bottom: 1px solid #006e37;
    border-top: 1px solid #00ba4b;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 180px; }

  .dropdown-menu > li > a:hover {
    background: none; }

  .navbar-default .navbar-nav .open .dropdown-menu li:first-child a {
    border-top: none; }

  .navbar-default .navbar-nav .open .dropdown-menu li:last-child a {
    border-bottom: none;
    margin-bottom: 0; } }
.developer {
  border: 1px solid #F8A900;
  line-height: 1;
  padding: 2px;
  position: fixed;
  right: 15px;
  top: 55px;
  z-index: 1031; }

.developer .btn {
  font-size: 10px;
  padding: 3px; }

@media (max-width: 768px) {
  .developer {
    top: auto;
    bottom: 15px; } }

/*# sourceMappingURL=css.css.map */
