.border-radius{
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

.box_shadow{
  box-shadow: 2px 2px 3px rgba(0,0,0, .5);
}

.text_shadow{
  text-shadow: 2px 2px 2px rgba(0,0,0, .5);
}

@mixin circle($size){
  border-radius: 50%;
  display: inline-block;
  height: $size;
  line-height: $size;
  text-align: center;
  width: $size;
}