/* IMG LIST */
.top{
  border: 1px solid $portalblau;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  padding: 2px;
  margin: 15px 0;
}

.box {
  background: $bg_1;
  border-radius: $br;
  margin: 0 1% 1% 0;
  padding: 7px;
  position: relative;
}

.formit .submit input{
  padding: 5px 15px;
  width: auto!important;
}

.form_1 .row {
  padding: 1px 0 !important;
}

.img_list img {
  max-height: 150px;
  width: auto;
}

.img_list .src_text {
  display: block;
  height: 35px;
  margin-bottom: 15px;
  overflow: hidden;
}

.img_list .div_delete_in_img {
  background: #fff;
  border-radius: 0 0 5px 0;
  color: red;
  margin: 1px;
  padding: 5px 5px 0 5px;
  position: absolute;
  top: 0px;
}

.img_list .delete{
  bottom: 7px;
  position: absolute;
  right: 7px;
}

.form_1 {
  color: $portalblau;
}

.no_padding .col-sm-10 {
  padding-right: 0;
}

.no_padding .col-s-26 {
  padding-right: 0;
}

.form_1 .form_label {
  padding-right: 0 !important;
}

.form_1 .form_label span {
  background: $bg_2;
  border-radius: $br;
  color: $portalblau;
  display: block;
  height: $form_row_height;
  line-height: $body_line_height;
  padding: 2px 0 0 5px;
  text-align: left;
  width: 100%;
}

.form_1 .val_to_edit,
.form_1 .input_con {
  background: $bg_2;
  border-radius: $br;
  height: $form_row_height;
  padding: 0 5px;
  overflow: hidden;
  width: 100%;
}

.form_1 .this_is_edited .val_to_edit {
  height: auto;
}

.form_1 .this_is_edited .val_to_edit textarea {
  width: 99%;
}

.form_1 .edit_me_con,
.form_1 .edit_me_con .edit_me,
.form_1 .edit_me_con .val_to_edit {
  max-width: 100%;
}

.form_1 .glyphicon {
  background: $portalblau;
  border-radius: $br;
  color: $bg_2;
  font-size: 14px;
  height: $form_row_height;
  line-height: $form_row_height;
  margin-left: 3px;
  text-align: center;
  width: $form_row_height;
}

.date_ok_con input {
  width: 108px;
}

/* Form 2 (FORMIT Formular) */

form.formit .container_field{
  margin-bottom: 10px;
}

form.formit input[type=submit]{
  width: 150px;
}

form.formit input{
  padding: 5px;
  width: 84%;
}

form.formit .cke{
  margin-bottom: 40px;
}

form.formit .checkbox label{
  font-weight: bold;
  padding-left: 0;
}

form.formit input[type=checkbox]{
  width: auto;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{
  position: static;
  margin-left: 0;
}

form.formit input{
  border: 1px solid silver;
  border-radius: 3px;
}

/* Date */
.edit_me_con table,
.date_table,
.date_table table,
.date_table td,
.date_table .val_to_edit {
  width: 100%;
}

.clickit_ok{
  cursor: pointer;
}

table.list tr:hover input
{
  color: black!important;
}

.date_table .val_to_edit {
  display: table-cell;
}

.form_1 input[type=text] {
  border: none;
  background: none;
  border-radius: $br;
  width: 100%;
}

.form_1 input:focus {
  background: $bg_3;
  color: #fff;
}

/* Dynamics */
.val_to_edit:hover {
  background: $portalblau;
  color: #fff;
}

.val_to_edit:hover input {
  color: #fff;
}

.form_1 .glyphicon:hover {
  background: $bg_2;
  color: $portalblau;
  cursor: pointer;
}

/* Teaser img */
.form_1 .files_id {
  background: #fff;
  border-radius: 5px;
  float: right;
  height: 170px;
  padding: 5px;
  width: 220px;
  margin-bottom: 15px;
  position: relative;
}

/*
 * TOPFORM
 */
.topform .submit{
  text-align: right;
}

@media(min-width: 768px){
  .topform .container_field{
    float: left;
    width: 49%;
  }
  .topform .container_field:nth-child(odd){
    margin-right: 2%;
  }
  .topform form.formit input{
    width: 100%;
  }
}








/*zinstraum */

/* date in list */
tble.list .date_table td{
  padding: 0;
}
