/* LIST */

.list{
  margin: 15px 0;
  width: 100%;
}

.nothing_found{
  border: 1px solid silver;
  @extend .border-radius;
  padding: 5px;
  margin: 15px 0;
}
.list_select{
  border: 1px solid $silver;
  padding: 5px;
  margin-top: 5px;
}

.container_pagination_top{
  text-align: center;
}

ul.pagination{
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
}

.pagination li{
  float: left;
}

.pagination .arrow{
  color: $rot;
  font-size: 110%;
}

.pagination .fa-angle-left{
  margin-right: 5px;
}

.pagination .fa-angle-right{
  margin-left: 5px;
}

.pagination .number{
  margin-right: 4px;
}
.pagination .number.last{
  margin-right: 0;
}

.pagination .active{
  font-weight: bold;
  text-decoration: underline;
}

.pagination li:hover{
  color: #fff;
  background: $bg_3;
}

.pagination > li > span{
  background: none;
  border: none;
  color: black;
  float: none;
  padding: 0;
}

.pagination > li > span.inner_l{
  position: relative;
  left: -5px;
}
.pagination > li > span.inner_r{
  position: relative;
  right: -4px;
}

.active_item{
  background: #5d5d5d!important;
  color: white;
}

table.list th{
  background: $portalblau;
}

table.list tr.even{
  background: $bg_1;
}
table.list tr.odd{
  background: #f9f9f9;
}
table.list tr:hover{
  background: $bg_3!important;
  color: #fff;
}

table.list th,
table.list td{
  padding: 2px 7px;
}

.do_list .list input{
  width: 30px;
}