/* neutralizes bootstrap */
.close, .close:hover {
  opacity: 1; }

.label {
  font-size: 100%; }

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  background: none;
  color: none; }

/* JQUERY UI */
.ui-accordion .ui-accordion-content {
  padding: 5px; }

/*# sourceMappingURL=neutralize.css.map */
