body{
  background: #bdbeba url(assets/bg/noiseNe.png);
  color: #282828;
  font-family: 'ABeeZee', sans-serif;
  font-size: 13px;
	line-height: $body_line_height;
  padding-top: 50px;
}

@media (min-width:1600px){
  .container{
    width: 1600px;
  }
}

/* FONTS */
h1, h2, h3{
	clear: both;
	margin-top: 0;
	text-decoration: underline;
}
h1{
	color: $rot;
	font: $h1;
}

h2{
	color: $rot;
	font: $h2;
	margin-top: 0;
	padding-top: 15px;
}

h2.margin_1{	
	margin: 0 0 5px 0;
}

.glyphicon.glyphicon-remove,
.glyphicon.glyphicon-chevron-left,
.glyphicon.glyphicon-chevron-right{
	color: $rot;
}

/* CLASSES */

table{
  font-size: 12px;
} 
 
.page{
	background: #fff;
	border-radius: 5px;
	margin-top: 90px;
}

.container.page .row{
	padding: 15px;
}

#LIGHTBOX{
	display: none;
}

a{
	color: $portalblau;
	font-weight: bold;
}

.clickit{
	cursor: pointer;
}

/* CLASSIS */


/* BUTTONS & LABEL*/
.btn.in_list.alert{
	padding: 2px;
}


/* FORM */
form.formit label{
	width: 25%;
}

form.formit input{
	border: 1px solid silver;
	border-radius: 3px;
}




/* SPECIAL */
.container_versand_name_id,
.container_s_premium_dispatch_id{
	display: none;
}

.save_in_shopware{
	background: black
}

.error,
.message,
.success,
.form_message{
	background: #970000;
	border-radius: 3px;
	color: white;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 15px;
	padding: 15px;
}

.message,
.success,
.form_message{
	background: $portalblau;
}

.form_message{
	font-size: 12px;
	font-weight: normal;
	padding:10px;
	width: 250px;
}
.form_message p{
	margin: 0;
} 

.message p{
	text-transform: uppercase;
}

.message ul{	
	border-bottom: 1px dotted white;
	padding-bottom: 15px;
}


/* Upload */
.jFiler-items-list{
	display: none;
}





