.box_1 .inside{
  border: 1px solid $silver;
  padding: 5px;
}

/* BUTTONS */
.btn_box{
  text-align: right;
}
.btn_container{
  display: inline-block;
}
.btn{
  background: $portalblau;
  color: #fff;
}
.btn:hover{
  background: $bg_3;
  color: #fff;
}