@media(max-width: 768px){
  .only_desk{
    display: none!important;
  }
}
@media(min-width: 768px){
  .only_mobile{
    display: none!important;
  }
}

.invisible,
.display_none{
  display: none;
}

.cursor{
  cursor: pointer;
}
.tal_r{
  text-align: right;
}
.tal_l{
  text-align: left;
}
.tal_c{
  text-align: center;
}
.fl_l{
  float: left;
}
.fl_r{
  float: right;
}
.cl_both{
  clear: both;
}
.bold{
  font-weight:bold;
}
.no_padding{
  padding: 0!important;
}
.m0{
  margin: 0;
}
.m1{
  margin: 1px;
}
.m2{
  margin: 2px;
}
.m3{
  margin: 3px;
}
.m4{
  margin: 4px;
}

.m5{
  margin: 5px;
}
.m6{
  margin: 6px;
}
.m7{
  margin: 7px;
}
.m8{
  margin: 8px;
}
.m9{
  margin: 9px;
}
.m10{
  margin: 10px;
}
.m11{
  margin: 11px;
}
.m12{
  margin: 12px;
}
.m13{
  margin: 13px;
}
.m14{
  margin: 14px;
}
.m15{
  margin: 15px;
}
.m20{
  margin: 20px;
}
.m25{
  margin: 25px;
}
.m30{
  margin: 30px;
}
.m0{
  margin: 0;
}
.mt1{
  margin-top: 1px;
}
.mt2{
  margin-top: 2px;
}
.mt3{
  margin-top: 3px;
}
.mt4{
  margin-top: 4px;
}

.mt5{
  margin-top: 5px;
}
.mt6{
  margin-top: 6px;
}
.mt7{
  margin-top: 7px;
}
.mt8{
  margin-top: 8px;
}
.mt9{
  margin-top: 9px;
}
.mt10{
  margin-top: 10px;
}
.mt11{
  margin-top: 11px;
}
.mt12{
  margin-top: 12px;
}
.mt13{
  margin-top: 13px;
}
.mt14{
  margin-top: 14px;
}
.mt15{
  margin-top: 15px;
}
.mt20{
  margin-top: 20px;
}
.mt25{
  margin-top: 25px;
}
.mt30{
  margin-top: 30px;
}

.mb5{
  margin-bottom: 5px;
}
.mb6{
  margin-bottom: 6px;
}
.mb7{
  margin-bottom: 7px;
}
.mb8{
  margin-bottom: 8px;
}
.mb9{
  margin-bottom: 9px;
}
.mb10{
  margin-bottom: 10px;
}
.mb11{
  margin-bottom: 11px;
}
.mb12{
  margin-bottom: 12px;
}
.mb13{
  margin-bottom: 13px;
}
.mb14{
  margin-bottom: 14px;
}
.mb15{
  margin-bottom: 15px;
}
.mb20{
  margin-bottom: 20px;
}
.mb25{
  margin-bottom: 25px;
}
.mb30{
  margin-bottom: 30px;
}

.ml5{
  margin-left: 5px;
}
.ml6{
  margin-left: 6px;
}
.ml7{
  margin-left: 7px;
}
.ml8{
  margin-left: 8px;
}
.ml9{
  margin-left: 9px;
}
.ml10{
  margin-left: 10px;
}
.ml11{
  margin-left: 11px;
}
.ml12{
  margin-left: 12px;
}
.ml13{
  margin-left: 13px;
}
.ml14{
  margin-left: 14px;
}
.ml15{
  margin-left: 15px;
}
.ml20{
  margin-left: 20px;
}
.ml25{
  margin-left: 25px;
}
.ml30{
  margin-left: 30px;
}

.mr5{
  margin-right: 5px;
}
.mr6{
  margin-right: 6px;
}
.mr7{
  margin-right: 7px;
}
.mr8{
  margin-right: 8px;
}
.mr9{
  margin-right: 9px;
}
.mr10{
  margin-right: 10px;
}
.mr11{
  margin-right: 11px;
}
.mr12{
  margin-right: 12px;
}
.mr13{
  margin-right: 13px;
}
.mr14{
  margin-right: 14px;
}
.mr15{
  margin-right: 15px;
}
.mr20{
  margin-right: 20px;
}
.mr50{
  margin-right: 25px;
}
.mr30{
  margin-right: 30px;
}


.p0{
   padding: 0!important;
 }
.p1{
  padding: 1px;
}
.p2{
  padding: 2px;
}
.p3{
  padding: 3px;
}
.p4{
  padding: 4px;
}

.p5{
  padding: 5px;
}
.p6{
  padding: 6px;
}
.p7{
  padding: 7px;
}
.p8{
  padding: 8px;
}
.p9{
  padding: 9px;
}
.p10{
  padding: 10px;
}
.p11{
  padding: 11px;
}
.p12{
  padding: 12px;
}
.p13{
  padding: 13px;
}
.p14{
  padding: 14px;
}
.p15{
  padding: 15px;
}
.p20{
  padding: 20px;
}
.p25{
  padding: 25px;
}
.p30{
  padding: 30px;
}
.p0{
  padding: 0;
}
.pt1{
  padding-top: 1px;
}
.pt2{
  padding-top: 2px;
}
.pt3{
  padding-top: 3px;
}
.pt4{
  padding-top: 4px;
}

.pt5{
  padding-top: 5px;
}
.pt6{
  padding-top: 6px;
}
.pt7{
  padding-top: 7px;
}
.pt8{
  padding-top: 8px;
}
.pt9{
  padding-top: 9px;
}
.pt10{
  padding-top: 10px;
}
.pt11{
  padding-top: 11px;
}
.pt12{
  padding-top: 12px;
}
.pt13{
  padding-top: 13px;
}
.pt14{
  padding-top: 14px;
}
.pt15{
  padding-top: 15px;
}
.pt20{
  padding-top: 20px;
}
.pt25{
  padding-top: 25px;
}
.pt30{
  padding-top: 30px;
}

.pb5{
  padding-bottom: 5px;
}
.pb6{
  padding-bottom: 6px;
}
.pb7{
  padding-bottom: 7px;
}
.pb8{
  padding-bottom: 8px;
}
.pb9{
  padding-bottom: 9px;
}
.pb10{
  padding-bottom: 10px;
}
.pb11{
  padding-bottom: 11px;
}
.pb12{
  padding-bottom: 12px;
}
.pb13{
  padding-bottom: 13px;
}
.pb14{
  padding-bottom: 14px;
}
.pb15{
  padding-bottom: 15px;
}
.pb20{
  padding-bottom: 20px;
}
.pb25{
  padding-bottom: 25px;
}
.pb30{
  padding-bottom: 30px;
}

.pl5{
  padding-left: 5px;
}
.pl6{
  padding-left: 6px;
}
.pl7{
  padding-left: 7px;
}
.pl8{
  padding-left: 8px;
}
.pl9{
  padding-left: 9px;
}
.pl10{
  padding-left: 10px;
}
.pl11{
  padding-left: 11px;
}
.pl12{
  padding-left: 12px;
}
.pl13{
  padding-left: 13px;
}
.pl14{
  padding-left: 14px;
}
.pl15{
  padding-left: 15px;
}
.pl20{
  padding-left: 20px;
}
.pl25{
  padding-left: 25px;
}
.pl30{
  padding-left: 30px;
}

.pr5{
  padding-right: 5px;
}
.pr6{
  padding-right: 6px;
}
.pr7{
  padding-right: 7px;
}
.pr8{
  padding-right: 8px;
}
.pr9{
  padding-right: 9px;
}
.pr10{
  padding-right: 10px;
}
.pr11{
  padding-right: 11px;
}
.pr12{
  padding-right: 12px;
}
.pr13{
  padding-right: 13px;
}
.pr14{
  padding-right: 14px;
}
.pr15{
  padding-right: 15px;
}
.pr20{
  padding-right: 20px;
}
.pr50{
  padding-right: 25px;
}
.pr30{
  padding-right: 30px;
}



.h_250{
  height: 250px;
}

.h_400{
  height: 400px;
}

.scroll_box{
  overflow: scroll;
  overflow-x: hidden;
}