.block{
  display: block!important;
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

.scroll{
  overflow: scroll;
  overflow-x:hidden;
}

.scrollbox_1{
  height: $scrollbox_1;
}

.name_active_item{

  color: $rot;
  font: $h2;
  margin-bottom: 15px;
}

.name_active_item .label{
  color: $portalblau;
}