/* COLORS */
$c_standard: black;
$rot: #940001;
$portalblau: #38568C;
$grau_1: #e2e2e2;
$grau_2: #7b7b7b;

$bg_1: #dce4f1;
$bg_2: #a7badc;
$bg_3: #7895c9;

$silver: silver;

$radius: 3px;


/* Sizes */
$br: 4px; // border-radius

$scrollbox_1: 350px;

/* Fonts */
// font-style font-variant font-weight font-size/line-height font-family
$family_h: Arial;
$h1: bold 25px 1.2 $family_h;
$h2: bold 20px/1.2 $family_h;
$h3: bold 16px/1.2 $family_h;
$body_line_height: 1.4;
$fs_h3: 120%;

// height of inputs, buttons, etc
$form_row_height: 20px;