<?php 
    //echo "<span style='color: red'>".basename(__FILE__)." (".__LINE__.")</span><br><pre>";
    //print_r($ROW);
    //echo "</pre><br>";

?>
<div class='img_list col-sm-8'>
  
  <div class="row">
    <div class="col-sm-36">
      <div class='img_wrap'>
        {{ROW->img_path->value}}
      </div>
      {{ROW->delete}}
    </div>
  </div>
  
  <div class='row'>
    <div class='col-xs-8'>
      <span class='label'>Aktiv: </span>
    </div>
    <div class='col-xs-28'>
      {{ROW->field_1->value}}
    </div>
  </div>
  
</div>

